
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PlayFairDisplayBold"; */
@font-face {
    font-family: "PlayFairDisplayBold";
    src: url("../fonts/PlayFairDisplayBold/PlayFairDisplayBold.eot");
    src: url("../fonts/PlayFairDisplayBold/PlayFairDisplayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayFairDisplayBold/PlayFairDisplayBold.woff") format("woff"),
    url("../fonts/PlayFairDisplayBold/PlayFairDisplayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PlayFairDisplayRegular"; */
@font-face {
    font-family: "PlayFairDisplayRegular";
    src: url("../fonts/PlayFairDisplayRegular/PlayFairDisplayRegular.eot");
    src: url("../fonts/PlayFairDisplayRegular/PlayFairDisplayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayFairDisplayRegular/PlayFairDisplayRegular.woff") format("woff"),
    url("../fonts/PlayFairDisplayRegular/PlayFairDisplayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}