
.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
}

/* ------------ HEADER / START ------------ */



/* =============== HEADER-TOP / START =============== */


.header-top {
    background-color: #000;
    color: #969696;
    padding: 16px 0px;
}

.header-top__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top__information {
    display: flex;
}

.information__phone {
    display: flex;
    margin: 0px 14px 0px 0px;
}

.phone__icon {
    font-size: 16px;
    padding: 3px 17px 0px 0px;
}

.phone__text {
    font-family: 'PTSansRegular';
    font-size: 12px;
    line-height: 133%;
    padding: 8px 0px;
}

.information__work {
     margin: 0px 14px 0px 14px;
}

.work__text {
    font-family: 'PTSansRegular';
    font-size: 12px;
    line-height: 133%;
    padding: 8px 0px;
}

.information__time {
    margin: 0px 0px 0px 14px;
}

.time__text {
    font-family: 'PTSansRegular';
    font-size: 12px;
    line-height: 133%;
    padding: 8px 0px;
}

.header-top__registration {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration__icon {
    font-size: 16px;
    padding: 0px 14px 0px 0px;
}

.registration__text {
    font-size: "PTSansRegular";
    font-family: '12px';
    line-height: 133%;
    padding: 8px 0px;
}

/* =============== HEADER-NAV / START =============== */

.header-nav {
    background-color: #0F0F0F;
    padding: 28px 0px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 64px 0px 0px;
    list-style: none;
}

.active {
    color: #fff;
    background-color: #1f1f1f;
    padding: 36px 21px 30px 21px;
}

.menu__list__link {
    font-family: 'PTSansRegular';
    font-size: 14px;
    text-transform: uppercase;
    line-height: 128.5%;
    color: #969696;
    padding: 36px 21px 30px 21px;
}

.menu__list__link:hover {
    color: #fff;
    background-color: #1f1f1f;
    text-decoration: none;
    padding: 36px 21px 30px 21px;
    margin: 0px 0px;
    box-sizing: border-box;
}

.nav__menu__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon__buy {
    padding: 0px 45px 0px 0px;
}

/* =============== HEADER-BODY / START =============== */

.header-body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    padding: 160px 0px;
}

.header-body__logo {
    width: 316px;
    height: 316px;
    border: solid 4px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header-body__text {
    font-family: 'PTSansRegular';
    font-size: 16px;
    color: #fff;
    line-height: 150%;
    margin: 84px;
    text-transform: uppercase;
}

/* ------------ HEADER / FINISH ------------ */


/* ------------ MAIN / START ------------ */




/* =============== SEASON / START =============== */

.season {
    display: flex;
    height: 100%;
    background-color: #000;
    color: #fff;
}

.season__columns {
    flex: 0 0 50%;
}

.season__body {
    padding: 90px 0px 90px 0px;
}

.season__body__title {
    font-family: 'PlayFairDisplayBold';
    font-size: 36px;
    line-height: 133%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 100px;
    text-transform: uppercase;
}

.season__body__title::after {
    content: '';
    width: 120px;
    height: 1px;
    background-color: #fff;
    top: 70px;
    left: -185px;
    position: relative;
}

.season__image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 0px 80px 0px;
}

.season__body__product {
    margin: 100px 0px 0px 0px;
}

.product__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product__image {
    width: 260px;
    height: 325px;
    background-color: #19181C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__title {
    font-family: 'PlayFairDisplayRegular';
    font-size: 18px;
    line-height: 133%;
    margin: 25px 0px 0px 0px;
}

.product__price {
    font-family: 'PlayFairDisplayBold';
    font-size: 16px;
    line-height: 131.25%;
    margin: 10px 0px 0px 0px;
}

.image__row {
    text-align: center;
}

.image__title {
    font-family: 'PlayFairDisplayBold';
    font-size: 36px;
    line-height: 133.33%;
    text-transform: uppercase;
    padding: 0px 0px 29px 0px;
}

.image__btn {
    font-family: 'PTSansRegular';
    font-size: 18px;
    line-height: 127.77%;
    color: #fff;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 12px 28px;
    border: solid 1px #fff;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin: 29px 0px 0px 0px;
}

.image__btn:hover {
    background-color: #fff;
    color: #000;
}


/* =============== COLLECTION / START =============== */


.collection {
    display: flex;
    height: 100%;
    background-color: #000;
    color: #fff;
}

.collection__columns {
    flex: 0 0 50%;
}

.collection__content {
    padding: 113px 0px 100px 0px;
    text-align: center;
}

.collection__image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}

.collection__content__title {
    font-family: 'PlayFairDisplayRegular';
    font-size: 36px;
    line-height: 133.33%;
    margin: 0px 0px 40px 0px;
    text-transform: uppercase;
}

.collection__content__text {
    font-family: 'PTSansRegular';
    font-size: 14px;
    line-height: 150%;
    margin: 40px 0px 61px 0px;
}

.collection__content__btn {
    background-color: transparent;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 12px 28px;
    border: solid 1px #fff;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.collection__content__btn:hover {
    background-color: #fff;
    color: #000;
}


/* =============== NEW-PRODUCTS / START =============== */

.new-products {
    background-color: #000;
    color: #fff;
}

.new-products__row {
    padding: 120px 0px 110px 0px;
    text-align: center;
}

.new-products__title {
    font-family: 'PlayFairDisplayBold';
    font-size: 36px;
    line-height: 133.33%;
    text-transform: uppercase;
}

.new-products__line {
    padding: 40px 0px;
}

.new-products__products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.products__image {
    width: 260px;
    height: 325px;
    background-color: #19181C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__title {
    font-family: 'PlayFairDisplayRegular';
    font-size: 18px;
    line-height: 133%;
    margin: 25px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
}

.products__price {
    font-family: 'PlayFairDisplayBold';
    font-size: 16px;
    line-height: 131.25%;
    margin: 10px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 40px 0px;
}


/* =============== BRANDS / START =============== */

.brands {
    background-color: #0F0F0F;
    text-align: center;
    color: #fff;
    padding: 74px 0px 97px 0px;
}

.brands__title {
    font-family: 'PlayFairDisplayBold';
    font-size: 36px;
    line-height: 133.33%;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
}

.brands__brands {
    margin: 40px 0px 0px 0px;
}

.brands__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* =============== FOOTER / START =============== */


.footer__row {
    display: flex;
    color: #fff;
}

.footer__columns {
    flex: 0 0 33.33%;
    
}

.footer__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding: 90px 0px 102px 0px;
}

.footer__title {
    font-family: "PlayFairDisplayRegular";
    font-size: 24px;
    line-height: 133.33%;
    text-transform: uppercase;
    margin: 0px 0px 46px 0px;
}

.footer__text {
    font-family: 'PTSansRegular';
    font-size: 14px;
    line-height: 150%;
}

.category__btn {
    background-color: #0f0f0f;
    border: none;
    color: #fff;
    font-family: 'PTSansRegular';
    font-size: 14px;
    line-height: 150%;
    padding: 10px 20px;
    margin: 20px 20px 0px 0px;
}

.category__btn:first-child {
    margin-top: 0px;
}

.category__btn:nth-child(2) {
    margin-top: 0px;
}

.category__btn:nth-child(3) {
    margin-top: 0px;
}

.footer__subscribe {
    margin: 39px 0px 0px 0px;
}

.footer__subscribe input {
    width: 210px;
    height: 42px;
    padding: 0px 0px 0px 15px;
    font-family: 'PTSansRegular';
    font-size: 14px;
    line-height: 150%;
    color: #969696;
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

.subscribe__btn {
    border: none;
    background: #000;
    color: #fff;
    padding: 12px 20px;
    font-family: 'PTSansRegular';
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: -3px;
}

.footer__line {
    background: #000;
    padding: 19px 0px;
}

.footer__line__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #D0D0D0;
}

.footer__line__text {
    font-family: 'PTSansRegular';
    font-size: 12px;
    line-height: 133.33%;
}

.footer__line__text a{
    font-family: 'PTSansRegular';
    font-size: 12px;
    color: #D0D0D0;
    line-height: 133.33%;
}

/* ------------ MAIN / FINISH ------------ */