/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "AnonymousProRegular"; */
@font-face {
    font-family: "AnonymousProRegular";
    src: url("../fonts/AnonymousProRegular/AnonymousProRegular.eot");
    src: url("../fonts/AnonymousProRegular/AnonymousProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AnonymousProRegular/AnonymousProRegular.woff") format("woff"),
    url("../fonts/AnonymousProRegular/AnonymousProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AnonymousProBold"; */
@font-face {
    font-family: "AnonymousProBold";
    src: url("../fonts/AnonymousProBold/AnonymousProBold.eot");
    src: url("../fonts/AnonymousProBold/AnonymousProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AnonymousProBold/AnonymousProBold.woff") format("woff"),
    url("../fonts/AnonymousProBold/AnonymousProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AnonymousProItalic"; */
@font-face {
    font-family: "AnonymousProItalic";
    src: url("../fonts/AnonymousProItalic/AnonymousProItalic.eot");
    src: url("../fonts/AnonymousProItalic/AnonymousProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AnonymousProItalic/AnonymousProItalic.woff") format("woff"),
    url("../fonts/AnonymousProItalic/AnonymousProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AnonymousProBoldItalic"; */
@font-face {
    font-family: "AnonymousProBoldItalic";
    src: url("../fonts/AnonymousProBoldItalic/AnonymousProBoldItalic.eot");
    src: url("../fonts/AnonymousProBoldItalic/AnonymousProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AnonymousProBoldItalic/AnonymousProBoldItalic.woff") format("woff"),
    url("../fonts/AnonymousProBoldItalic/AnonymousProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "JokeRegular"; */
@font-face {
    font-family: "JokeRegular";
    src: url("../fonts/JokeRegular/JokeRegular.eot");
    src: url("../fonts/JokeRegular/JokeRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/JokeRegular/JokeRegular.woff") format("woff"),
    url("../fonts/JokeRegular/JokeRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "UbuntuMonoRegular"; */
@font-face {
    font-family: "UbuntuMonoRegular";
    src: url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.eot");
    src: url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.woff") format("woff"),
    url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMonoBold"; */
@font-face {
    font-family: "UbuntuMonoBold";
    src: url("../fonts/UbuntuMonoBold/UbuntuMonoBold.eot");
    src: url("../fonts/UbuntuMonoBold/UbuntuMonoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoBold/UbuntuMonoBold.woff") format("woff"),
    url("../fonts/UbuntuMonoBold/UbuntuMonoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMonoItalic"; */
@font-face {
    font-family: "UbuntuMonoItalic";
    src: url("../fonts/UbuntuMonoItalic/UbuntuMonoItalic.eot");
    src: url("../fonts/UbuntuMonoItalic/UbuntuMonoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoItalic/UbuntuMonoItalic.woff") format("woff"),
    url("../fonts/UbuntuMonoItalic/UbuntuMonoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMonoBoldItalic"; */
@font-face {
    font-family: "UbuntuMonoBoldItalic";
    src: url("../fonts/UbuntuMonoBoldItalic/UbuntuMonoBoldItalic.eot");
    src: url("../fonts/UbuntuMonoBoldItalic/UbuntuMonoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoBoldItalic/UbuntuMonoBoldItalic.woff") format("woff"),
    url("../fonts/UbuntuMonoBoldItalic/UbuntuMonoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "EBGaramondRegular"; */
@font-face {
    font-family: "EBGaramondRegular";
    src: url("../fonts/EBGaramondRegular/EBGaramondRegular.eot");
    src: url("../fonts/EBGaramondRegular/EBGaramondRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/EBGaramondRegular/EBGaramondRegular.woff") format("woff"),
    url("../fonts/EBGaramondRegular/EBGaramondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "AgoraSansProRegular"; */
@font-face {
    font-family: "AgoraSansProRegular";
    src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot");
    src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProRegular/AgoraSansProRegular.woff") format("woff"),
    url("../fonts/AgoraSansProRegular/AgoraSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProBold"; */
@font-face {
    font-family: "AgoraSansProBold";
    src: url("../fonts/AgoraSansProBold/AgoraSansProBold.eot");
    src: url("../fonts/AgoraSansProBold/AgoraSansProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProBold/AgoraSansProBold.woff") format("woff"),
    url("../fonts/AgoraSansProBold/AgoraSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProItalic"; */
@font-face {
    font-family: "AgoraSansProItalic";
    src: url("../fonts/AgoraSansProItalic/AgoraSansProItalic.eot");
    src: url("../fonts/AgoraSansProItalic/AgoraSansProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProItalic/AgoraSansProItalic.woff") format("woff"),
    url("../fonts/AgoraSansProItalic/AgoraSansProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProLight"; */
@font-face {
    font-family: "AgoraSansProLight";
    src: url("../fonts/AgoraSansProLight/AgoraSansProLight.eot");
    src: url("../fonts/AgoraSansProLight/AgoraSansProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProLight/AgoraSansProLight.woff") format("woff"),
    url("../fonts/AgoraSansProLight/AgoraSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProMedium"; */
@font-face {
    font-family: "AgoraSansProMedium";
    src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot");
    src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProMedium/AgoraSansProMedium.woff") format("woff"),
    url("../fonts/AgoraSansProMedium/AgoraSansProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProBlack"; */
@font-face {
    font-family: "AgoraSansProBlack";
    src: url("../fonts/AgoraSansProBlack/AgoraSansProBlack.eot");
    src: url("../fonts/AgoraSansProBlack/AgoraSansProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProBlack/AgoraSansProBlack.woff") format("woff"),
    url("../fonts/AgoraSansProBlack/AgoraSansProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProThin"; */
@font-face {
    font-family: "AgoraSansProThin";
    src: url("../fonts/AgoraSansProThin/AgoraSansProThin.eot");
    src: url("../fonts/AgoraSansProThin/AgoraSansProThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProThin/AgoraSansProThin.woff") format("woff"),
    url("../fonts/AgoraSansProThin/AgoraSansProThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProUltraBlack"; */
@font-face {
    font-family: "AgoraSansProUltraBlack";
    src: url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.eot");
    src: url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.woff") format("woff"),
    url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProXThin"; */
@font-face {
    font-family: "AgoraSansProXThin";
    src: url("../fonts/AgoraSansProXThin/AgoraSansProXThin.eot");
    src: url("../fonts/AgoraSansProXThin/AgoraSansProXThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProXThin/AgoraSansProXThin.woff") format("woff"),
    url("../fonts/AgoraSansProXThin/AgoraSansProXThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProMediumItalic"; */
@font-face {
    font-family: "AgoraSansProMediumItalic";
    src: url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.eot");
    src: url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.woff") format("woff"),
    url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProLightItalic"; */
@font-face {
    font-family: "AgoraSansProLightItalic";
    src: url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.eot");
    src: url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.woff") format("woff"),
    url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProBoldItalic"; */
@font-face {
    font-family: "AgoraSansProBoldItalic";
    src: url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.eot");
    src: url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.woff") format("woff"),
    url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProBlackItalic"; */
@font-face {
    font-family: "AgoraSansProBlackItalic";
    src: url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.eot");
    src: url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.woff") format("woff"),
    url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProUltraBlackItalic"; */
@font-face {
    font-family: "AgoraSansProUltraBlackItalic";
    src: url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.eot");
    src: url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.woff") format("woff"),
    url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProXThinItalic"; */
@font-face {
    font-family: "AgoraSansProXThinItalic";
    src: url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.eot");
    src: url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.woff") format("woff"),
    url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProThinItalic"; */
@font-face {
    font-family: "AgoraSansProThinItalic";
    src: url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.eot");
    src: url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.woff") format("woff"),
    url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayThin"; */
@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin/RalewayThin.eot");
    src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
    url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayExtraLight"; */
@font-face {
    font-family: "RalewayExtraLight";
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot");
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
    url("../fonts/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayLight"; */
@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/RalewayLight/RalewayLight.eot");
    src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayLight/RalewayLight.woff") format("woff"),
    url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayMedium"; */
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewaySemiBold"; */
@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayExtraBold"; */
@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBlack"; */
@font-face {
    font-family: "RalewayBlack";
    src: url("../fonts/RalewayBlack/RalewayBlack.eot");
    src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
    url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "LatoRegular"; */
@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBold"; */
@font-face {
    font-family: "LatoBold";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoItalic"; */
@font-face {
    font-family: "LatoItalic";
    src: url("../fonts/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLight"; */
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
    font-family: "LatoBoldItalic";
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLightItalic"; */
@font-face {
    font-family: "LatoLightItalic";
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "YanoneKaffeesatzRegular"; */
@font-face {
    font-family: "YanoneKaffeesatzRegular";
    src: url("../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.eot");
    src: url("../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.woff") format("woff"),
    url("../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "YanoneKaffeesatzBold"; */
@font-face {
    font-family: "YanoneKaffeesatzBold";
    src: url("../fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.eot");
    src: url("../fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.woff") format("woff"),
    url("../fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "YanoneKaffeesatzLight"; */
@font-face {
    font-family: "YanoneKaffeesatzLight";
    src: url("../fonts/YanoneKaffeesatzLight/YanoneKaffeesatzLight.eot");
    src: url("../fonts/YanoneKaffeesatzLight/YanoneKaffeesatzLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/YanoneKaffeesatzLight/YanoneKaffeesatzLight.woff") format("woff"),
    url("../fonts/YanoneKaffeesatzLight/YanoneKaffeesatzLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "YanoneKaffeesatzExtraLight"; */
@font-face {
    font-family: "YanoneKaffeesatzExtraLight";
    src: url("../fonts/YanoneKaffeesatzExtraLight/YanoneKaffeesatzExtraLight.eot");
    src: url("../fonts/YanoneKaffeesatzExtraLight/YanoneKaffeesatzExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/YanoneKaffeesatzExtraLight/YanoneKaffeesatzExtraLight.woff") format("woff"),
    url("../fonts/YanoneKaffeesatzExtraLight/YanoneKaffeesatzExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "CocaColaRegular"; */
@font-face {
    font-family: "CocaColaRegular";
    src: url("../fonts/CocaColaRegular/CocaColaRegular.eot");
    src: url("../fonts/CocaColaRegular/CocaColaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CocaColaRegular/CocaColaRegular.woff") format("woff"),
    url("../fonts/CocaColaRegular/CocaColaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "BickhamScriptTwoRegular"; */
@font-face {
    font-family: "BickhamScriptTwoRegular";
    src: url("../fonts/BickhamScriptTwoRegular/BickhamScriptTwoRegular.eot");
    src: url("../fonts/BickhamScriptTwoRegular/BickhamScriptTwoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BickhamScriptTwoRegular/BickhamScriptTwoRegular.woff") format("woff"),
    url("../fonts/BickhamScriptTwoRegular/BickhamScriptTwoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "DroidSerifRegular"; */
@font-face {
    font-family: "DroidSerifRegular";
    src: url("../fonts/DroidSerifRegular/DroidSerifRegular.eot");
    src: url("../fonts/DroidSerifRegular/DroidSerifRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifRegular/DroidSerifRegular.woff") format("woff"),
    url("../fonts/DroidSerifRegular/DroidSerifRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "DroidSerifBold"; */
@font-face {
    font-family: "DroidSerifBold";
    src: url("../fonts/DroidSerifBold/DroidSerifBold.eot");
    src: url("../fonts/DroidSerifBold/DroidSerifBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifBold/DroidSerifBold.woff") format("woff"),
    url("../fonts/DroidSerifBold/DroidSerifBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "DroidSerifItalic"; */
@font-face {
    font-family: "DroidSerifItalic";
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot");
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.woff") format("woff"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "DroidSerifBoldItalic"; */
@font-face {
    font-family: "DroidSerifBoldItalic";
    src: url("../fonts/DroidSerifBoldItalic/DroidSerifBoldItalic.eot");
    src: url("../fonts/DroidSerifBoldItalic/DroidSerifBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifBoldItalic/DroidSerifBoldItalic.woff") format("woff"),
    url("../fonts/DroidSerifBoldItalic/DroidSerifBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoSlabRegular"; */
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabLight"; */
@font-face {
    font-family: "RobotoSlabLight";
    src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot");
    src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype")
    url("../fonts/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
    url("../fonts/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabBold"; */
@font-face {
    font-family: "RobotoSlabBold";
    src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot");
    src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
    url("../fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "AlexandraScriptRegular"; */
@font-face {
    font-family: "AlexandraScriptRegular";
    src: url("../fonts/AlexandraScriptRegular/AlexandraScriptRegular.eot");
    src: url("../fonts/AlexandraScriptRegular/AlexandraScriptRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AlexandraScriptRegular/AlexandraScriptRegular.woff") format("woff"),
    url("../fonts/AlexandraScriptRegular/AlexandraScriptRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MontserratRegular"; */
@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/MontserratRegular/MontserratRegular.eot");
    src: url("../fonts/MontserratRegular/MontserratRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MontserratRegular/MontserratRegular.woff") format("woff"),
    url("../fonts/MontserratRegular/MontserratRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MontserratBold"; */
@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/MontserratBold/MontserratBold.eot");
    src: url("../fonts/MontserratBold/MontserratBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MontserratBold/MontserratBold.woff") format("woff"),
    url("../fonts/MontserratBold/MontserratBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "CrimsonTextRoman"; */
@font-face {
    font-family: "CrimsonTextRoman";
    src: url("../fonts/CrimsonTextRoman/CrimsonTextRoman.eot");
    src: url("../fonts/CrimsonTextRoman/CrimsonTextRoman.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CrimsonTextRoman/CrimsonTextRoman.woff") format("woff"),
    url("../fonts/CrimsonTextRoman/CrimsonTextRoman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Amsdam"; */
@font-face {
    font-family: "Amsdam";
    src: url("../fonts/Amsdam/Amsdam.eot");
    src: url("../fonts/Amsdam/Amsdam.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Amsdam/Amsdam.woff") format("woff"),
    url("../fonts/Amsdam/Amsdam.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "AvantGardeLT ExtraLight"; */
@font-face {
    font-family: "AvantGardeLT ExtraLight";
    src: url("../fonts/AvantGardeLT ExtraLight/AvantGardeLT ExtraLight.eot");
    src: url("../fonts/AvantGardeLT ExtraLight/AvantGardeLT ExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AvantGardeLT ExtraLight/AvantGardeLT ExtraLight.woff") format("woff"),
    url("../fonts/AvantGardeLT ExtraLight/AvantGardeLT ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "UbuntuBold"; */
@font-face {
    font-family: "UbuntuBold";
    src: url("../fonts/UbuntuBold/UbuntuBold.eot");
    src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"),
    url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ProximaNovaThin"; */
@font-face {
    font-family: "ProximaNovaThin";
    src: url("../fonts/ProximaNovaThin/ProximaNovaThin.eot");
    src: url("../fonts/ProximaNovaThin/ProximaNovaThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaThin/ProximaNovaThin.woff") format("woff"),
    url("../fonts/ProximaNovaThin/ProximaNovaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ForeverBrushScript"; */
@font-face {
    font-family: "ForeverBrushScript";
    src: url("../fonts/ForeverBrushScript/ForeverBrushScript.eot");
    src: url("../fonts/ForeverBrushScript/ForeverBrushScript.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ForeverBrushScript/ForeverBrushScript.woff") format("woff"),
    url("../fonts/ForeverBrushScript/ForeverBrushScript.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PoppinsMedium"; */
@font-face {
    font-family: "PoppinsMedium";
    src: url("../fonts/PoppinsMedium/PoppinsMedium.eot");
    src: url("../fonts/PoppinsMedium/PoppinsMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PoppinsMedium/PoppinsMedium.woff") format("woff"),
    url("../fonts/PoppinsMedium/PoppinsMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PoppinsRegular"; */
@font-face {
    font-family: "PoppinsRegular";
    src: url("../fonts/PoppinsRegular/PoppinsRegular.eot");
    src: url("../fonts/PoppinsRegular/PoppinsRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PoppinsRegular/PoppinsRegular.woff") format("woff"),
    url("../fonts/PoppinsRegular/PoppinsRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PoppinsBold"; */
@font-face {
    font-family: "PoppinsBold";
    src: url("../fonts/PoppinsBold/PoppinsBold.eot");
    src: url("../fonts/PoppinsBold/PoppinsBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PoppinsBold/PoppinsBold.woff") format("woff"),
    url("../fonts/PoppinsBold/PoppinsBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PoppinsExtraBold"; */
@font-face {
    font-family: "PoppinsExtraBold";
    src: url("../fonts/PoppinsExtraBold/PoppinsExtraBold.eot");
    src: url("../fonts/PoppinsExtraBold/PoppinsExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PoppinsExtraBold/PoppinsExtraBold.woff") format("woff"),
    url("../fonts/PoppinsExtraBold/PoppinsExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PoppinsSemiBold"; */
@font-face {
    font-family: "PoppinsSemiBold";
    src: url("../fonts/PoppinsSemiBold/PoppinsSemiBold.eot");
    src: url("../fonts/PoppinsSemiBold/PoppinsSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PoppinsSemiBold/PoppinsSemiBold.woff") format("woff"),
    url("../fonts/PoppinsSemiBold/PoppinsSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "AkzidenzGroteskBQCondensedBold"; */
@font-face {
    font-family: "AkzidenzGroteskBQCondensedBold";
    src: url("../fonts/AkzidenzGroteskBQCondensedBold/AkzidenzGroteskBQCondensedBold.eot");
    src: url("../fonts/AkzidenzGroteskBQCondensedBold/AkzidenzGroteskBQCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AkzidenzGroteskBQCondensedBold/AkzidenzGroteskBQCondensedBold.woff") format("woff"),
    url("../fonts/AkzidenzGroteskBQCondensedBold/AkzidenzGroteskBQCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "BebasNeueRegular"; */
@font-face {
    font-family: "BebasNeueRegular";
    src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
    src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"),
    url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}