.container {
	max-width: 1150px;
	margin: 0 auto;
}

/* ==================== HEADER / START ==================== */

.header {
	background-color: #EEEFF1;
	padding: 0px 0px 145px 0px;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	height: 100px;
}

.header__menu__list {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.menu__link {
	font-family: 'RobotoRegular';
	padding: 0px 29px 0px 15px;
	font-size: 16px;
	line-height: 162.5%;
	color: #000;
	text-transform: uppercase;
}

.menu__link:hover {
	text-decoration: none;
	color: #34547A;
}

.active {
	color: #34547A;
	text-decoration: none;
}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 115px 0px 0px 95px;
}

.header__body__content {
	width: 541px;
}

.header__body__text {
	font-family: 'RobotoMedium';
	font-size: 48px;
	color: #000;
	line-height: 164.5%;
	padding: 0px 0px 5px 0px;
}

.header__body__btn {
	width: 225px;
	height: 65px;
	background-color: #34547A;
	color: #fff;
	font-family: 'RobotoRegular';
	font-size: 16px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 35px 0px 0px 0px;
}

/* ==================== HEADER / FINISH ==================== */



/* ==================== MAIN / START ==================== */

/* ====== Section About ====== */

.about {
	text-align: center;
	padding: 119px 0px 100px 0px;
	background-color: #f9f9f9;
}

.text {
	font-family: 'RobotoMedium';
	font-size: 32px;
	color: #000;
	line-height: 117.2%;
}

.about__text {
	padding: 0px 0px 25px 0px;
}

.title {
	font-family: 'RobotoRegular';
	font-size: 16px;
	color: #727272;
	line-height: 164%;
}

/* ====== Section Projects ====== */

.projects {
	background-color: #34547a;
	padding: 100px 0px;
}

.project {
	display: flex;
	justify-content: space-between;
}

.project__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project__text {
	padding: 8px 0px 0px 0px;
	font-family: 'RobotoMedium';
	font-size: 21px;
	color: #fff;
	line-height: 117.1%;
	margin: 0px 0px 0px 20px;
}

.project__text span {
	font-family: 'RobotoRegular';
	font-size: 16px;
	color: #fff;
	line-height: 164%;
}


/* ====== Section Skills ====== */

.skills {
	padding: 102px 0px;
}

.skills__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skill__columns {
	flex: 0 0 50%;
}

.skill__image {
	width: 555px;
	height: 450px;
	background-image: url(../img/me.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.skill__progress__text {
	font-family: 'RobotoRegular';
	font-size: 16px;
	color: #727272;
	line-height: 164%;
	margin: 40px 0px 0px 0px;
}

.progress {
	width: 445px;
	height: 4px;
	margin: 15px 0px 0px 0px;
}

.progress-bar {
	height: 4px;
	background-color: #34547A;
}


/* ====== Section Work ====== */

.work {
	background-color: #EEEFF1;
	text-align: center;
	padding: 100px 0px;
}

.work__text {
	padding: 0px 0px 45px 0px;
}

.video__item {
	margin: 60px 0px 0px 0px;
	width: 1060px;
	height: 600px;
}

/* ====== Section Project ====== */

.my-project {
	background-color: #f9f9f9;
}

.my-project__body {
	padding: 28px 0px;
}

.my-project__image {
	display: grid;
	grid-template-columns: repeat(4, 0.2fr);
	justify-content: center;
	align-items: center;
	grid-gap: 5px;
}

/* ====== Section Sponsor ====== */

.sponsor {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f9f9;
}

.sponsor__image {
	padding: 42px 0px;
}

/* ====== Section Form ====== */

.form {
	background-color: #eeeff1;
	padding: 100px 0px;
}

.form__row {
	text-align: center;
}

.form__text {
	padding: 0px 0px 52px 0px;
}

.form__title {
	padding: 0px 0px 63px 0px;
}

.form__top {
	margin: 0px 0px 20px 0px;
}

.form__top input {
	width: 255px;
	height: 55px;
	padding: 0px 0px 0px 20px;
	font-family: 'RobotoRegular';
	font-size: 14px;
	color: #5F5D5D;
	border: none;
}

.form__top input:first-child {
	margin: 0px 30px 0px 0px;
}

.form__bottom textarea {
	width: 540px;
	height: 175px;
	padding: 20px 0px 0px 20px;
	font-family: 'RobotoRegular';
	font-size: 14px;
	color: #5F5D5D;
	margin: 0px 0px 50px 0px;
	border: none;
}

.form__btn {
	display: flex;
	justify-content: center;
}

.form__btn__send {
	background-color: #34547A;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 190px;
	height: 55px;
	font-family: 'RobotoRegular';
	font-size: 14px;
	color: #fff;
}

/* ==================== MAIN / FINISH ==================== */


/* ==================== FOOTER / START ==================== */

.footer {
	background-color: #34547A;
	color: #fff;
	padding: 48px 0px;
}

.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copy__text {
	font-family: 'RobotoMedium';
	font-size: 21px;
	color: #fff;
	line-height: 117.2%;
	padding: 0px 0px 20px 0px;
}

.footer__copy__copy {
	font-family: 'RobotoRegular';
	font-size: 13px;
	color: #fff;
	line-height: 164%;
}

.footer__social i {
	font-size: 23px;
	padding: 0px 0px 0px 22px;
}

.footer__social i:first-child {
	padding: 0px;
}

/* ==================== FOOTER / FINISH ==================== */