.container {
	max-width: 1293px;
	margin: 0 auto;
}

.container-f {
	max-width: 1162px;
	margin: 0 auto;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* --------------- HEADER / START --------------- */


/* ------- HEADER NAV ------- */


.header-nav {
	border: 2px solid #000;
	margin: 1px 0px 0px 0px;
	height: 79px;
}

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	font-family: 'RobotoRegular';
	font-size: 69px;
	line-height: 157%;
	margin: -25px 0px 0px 0px;
}

.header-logo a {
	text-decoration: none;
	color: #000;
}

.header-logo a:hover {
	text-decoration: none;
	color: #ffbcbc;
}

.header-menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 10px 0px 0px 0px;
}

.header-menu__link {
	font-family: 'RobotoRegular';
	font-size: 22px;
	color: #000;
	line-height: 155%;
	padding: 23px 72px;
	border-left: 2px solid #000;
}

.fit {
	border-right: 2px solid #000;
}

.header-menu__link:hover{
	text-decoration: none;
	color: #ffbcbc;
}

.customer {
	margin: -5px 0px 0px 0px;
}

.customer-care {
	font-family: 'RobotoRegular';
	font-size: 22px;
	color: #000;
	line-height: 155%;
}

.customer-care:hover {
	text-decoration: none;
	color: #ffbcbc;
}


/* ------- HEADER BODY ------- */

.header-body {
	margin: 41px 0px 0px 0px;
}

.header-body__area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-body__text {
	text-align: center;
}

.header-body__title {
	position: absolute;
	font-family: 'RobotoRegular';
	font-size: 74px;
	color: #000;
	line-height: 155%;
	z-index: 1;
	top: 490px;
}

.header-body__link {
	font-family: 'RobotoRegular';
	font-size: 17px;
	color: #000;
	line-height: 164%;
	top: 610px;
	position: absolute;
}

.header-body__link:hover {
	text-decoration: none;
	color: #000;
}

.header-body__image {
	margin: 71px 0px 0px 0px;
	position: relative;
	z-index: 0;
}

/* --------------- HEADER / FINISH --------------- */


/* --------------- MAIN / START --------------- */


/* ------- SHOP ------- */

.content {
	margin: 195px 0px 0px 0px;
}

.shop {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shop-column {
	flex: 0 1 50%;
}

.column-women__item,
.column-men__item {
	position: relative;
	overflow: hidden;
}

.column-women__item img,
.column-men__item img {
	display: block;
	width: 100%;
}

.column-shop__button {
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background-color: #ffbcbc;
	font-family: 'RobotoRegular';
	font-size: 18px;
	border: none;
	padding: 48px 82px;
	line-height: 155%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: .3s ease-in-out;
}

.column-women__item:hover .column-shop__button {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.column-men__item:hover .column-shop__button {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}


/* ------- NEW ------- */

.new-top {
	margin: 184px 0px 0px 0px;
	border-bottom: 2px solid #000;
}

.new-top__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.new-top__title {
	font-family: 'RobotoBold';
	font-size: 70px;
	color: #000;
	line-height: 155%;
	margin: 0px 0px -10px 0px;
}

.new-top__link {
	font-family: 'RobotoRegular';
	font-size: 17px;
	color: #000;
	line-height: 164%;
	margin: 40px 0px 0px 0px;
	text-transform: uppercase;
}

.new-top__link:hover {
	text-decoration: none;
	color: #ffbcbc;
}

.new-bottom {
	margin: 100px 0px 0px 0px;
}

.new-product {
	display: flex;
	align-items: center;
}

.new-product__column {
	flex: 0 0 33.33%;
	text-align: center;
}

.product__image {
	width: 440px;
	height: 255px;
	display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.product__text {
	font-family: 'RobotoBold';
	font-size: 20px;
	color: #000;
	line-height: 135%;
	margin: 30px 0px 0px 0px;
}

.product__title {
	font-family: 'RobotoRegular';
	font-size: 16px;
	color: #000;
	line-height: 155%;
	margin: 20px 0px 0px 0px;
}

.product__price {
	font-family: 'RobotoBold';
	font-size: 16px;
	color: #000;
	line-height: 135%;
	margin: 23px 0px 0px 0px;
}


/* ------- MODEL ------- */


.model {
	margin: 198px 0px 0px 0px;
	display: flex;
	align-items: center;
}

.model__column {
	flex: 0 1 50%;
}

.model__image {
	height: 840px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.model__row {
	background-color: #aabad0;
	padding: 434px 0px 0px 72px;
}

.model__text {
	text-transform: uppercase;
	font-family: 'RobotoRegular';
	font-size: 19px;
	color: #000;
	line-height: 139%;
	margin: 0px 0px 19px 0px;
}

.model__name {
	font-family: 'RobotoRegular';
	font-size: 70px;
	color: #000;
	line-height: 132%;
	margin: 0px 0px 36px 0px;
}

.model__title {
	font-family: 'RobotoRegular';
	font-size: 20px;
	color: #000;
	line-height: 132%;
	margin: 0px 0px 78px 0px;
}

.model__btn {
	border: none;
	background-color: #ffbcbc;
	color: #000;
	font-family: 'RobotoRegular';
	font-size: 18px;
	line-height: 132%;
	text-transform: uppercase;
	padding: 54px 68px;
}

.model__btn:hover {
	text-decoration: none;
	color: #ffbcbc;
	background-color: #000;
}


/* ------- BESTSELLER ------- */


.bestsellers {
	margin: 195px 0px 0px 0px;
}

.bestsellers-top {
	border-bottom: 2px solid #000;
}

.bestsellers-top__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bestsellers-top__title {
	font-family: 'RobotoRegular';
	font-size: 70px;
	color: #000;
	line-height: 132%;
	/* margin: 0px 0px -10px 0px; */
}

.bestsellers-top__link {
	font-family: 'RobotoRegular';
	font-size: 17px;
	color: #000;
	text-transform: uppercase;
	line-height: 140%;
	margin: 40px 0px 0px 0px;
}

.bestsellers-top__link:hover {
	text-decoration: none;
	color: #ffbcbc;
}

.bestsellers-bottom {
	margin: 100px 0px 0px 0px;
}

.bestsellers-product {
	display: flex;
	align-items: center;
}

.bestsellers-product__column {
	flex: 0 1 33.33%;
	text-align: center;
}


/* ------- FOR ------- */


.for {
	margin: 231px 0px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.for-column {
	flex: 0 1 50%;
}

.column-sight__item,
.column-sun__item {
	position: relative;
	overflow: hidden;
}

.column-sight__item img,
.column-sun__item img {
	display: block;
	width: 100%;
}

.column-sight__btn,
.column-sun__btn {
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background-color: #ffbcbc;
	font-family: 'RobotoRegular';
	font-size: 18px;
	border: none;
	padding: 48px 82px;
	line-height: 155%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: .3s ease-in-out;
}

.column-sight__item:hover .column-sight__btn {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.column-sun__item:hover .column-sun__btn {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}


/* ------- BRANDS ------- */


.brands {
	margin: 196px 0px 0px 0px;
}

.brands-top {
	border-bottom: 2px solid #000;
}

.brands-top__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brands-top__title {
	font-family: 'RobotoBold';
	font-size: 70px;
	color: #000;
	line-height: 132px;
	margin: 0px 0px -15px 0px;
}

.brands-top__link {
	font-family: 'RobotoRegular';
	font-size: 17px;
	color: #000;
	line-height: 140%;
	margin: 40px 0px 0px 0px;
	text-transform: uppercase;
}

.brands-top__link:hover {
	text-decoration: none;
	color: #ffbcbc;
}

.brands-bottom {
	text-align: center;
	margin: 79px 0px 0px 0px;
}


/* ------- ABOUT ------- */


.about {
	margin: 195px 0px 0px 0px;
}

.about__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__title {
	font-family: 'RobotoBold';
	font-size: 70px;
	color: #000;
	line-height: 132%;
	margin: -120px 0px 56px 0px;
}

.about__text {
	font-family: 'RobotoRegular';
	font-size: 20px;
	color: #000;
	line-height: 128%;
}

.about__image {
	padding: 0px 160px 0px 0px;
}

/* --------------- MAIN / FINISH --------------- */


/* --------------- FOOTER / START --------------- */

.footer {
	background-color: #aabad0;
	margin: 150px 0px 0px 0px;
	padding: 30px 0px 0px 0px;
}

.footer-top {
	border-bottom: 2px solid #000;
}

.footer-top__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-top__title {
	font-family: 'RobotoRegular';
	font-size: 70px;
	color: #000;
	line-height: 134%;
	margin: 0px 0px 22px 0px;
}

.footer-top__text {
	font-family: 'RobotoBold';
	font-size: 18px;
	color: #000;
	line-height: 132%;
	margin: 17px 0px 0px 0px;
}

.footer-bottom__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom__left {
	flex: 0 1 75%;
	border-right: 2px solid #000;
}

.footer-bottom__left-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 43px 0px 0px 0px;
}

.footer-bottom__left__column {
	flex: 1 0 33.33%;
}

.footer-bottom__left-bottom-text {
	font-family: 'RobotoRegular';
	font-size: 18px;
	color: #000;
	line-height: 132%;
	margin: 5px 0px 36px 0px;
}

.footer-bottom__left-bottom-title {
	font-family: RobotoRegular'';
	font-size: 12px;
	color: #000;
	line-height: 132%;
	margin: 0px 0px 25px 0px;
}

.footer-bottom__left-bottom-title a {
	color: #000;
	text-decoration: underline;
}

.footer-bottom__left-bottom-title a:hover {
	color: #ffbcbc;
	text-decoration: underline;
}

.right {
	margin: -45px 0px 0px 0px;
}

.footer-bottom__left__title {
	font-family: 'RobotoBold';
	font-size: 20px;
	color: #000;
	line-height: 132%;
	margin: 0px 0px 26px 0px;
}

.footer-bottom__left__text {
	font-family: 'RobotoRegular';
	font-size: 18px;
	color: #000;
	line-height: 132%;
	margin: 0px 0px 24px 0px;
}

.footer-bottom__right {
	flex: 0 1 25%;
	margin: 0px 0px 0px 42px;
}

.footer-bottom__right-top {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 49px 0px;
	border-bottom: 2px solid #000;
}

.footer-bottom__right-top-text {
	font-family: 'RobotoRegular';
	font-size: 18px;
	color: #000;
	line-height: 119%;
}

.footer-bottom__right-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 49px 0px 0px 0px;
}

.footer-bottom__right-bottom__text {
	font-family: 'RobotoRegular';
	font-size: 18px;
	color: #000;
	line-height: 132%;
	margin: 0px 0px 21px 0px;
}

.footer-bottom__right-bottom__number {
	font-family: 'RobotoRegular';
	font-size: 17px;
	color: #000;
	line-height: 140%;
	margin: 0px 0px 18px 0px;
}

.footer-bottom__right-bottom__mail {
	font-family: 'RobotoRegular';
	font-size: 18px;
	color: #000;
	line-height: 132%;
}

.footer-bottom__right-bottom-social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}

.footer-bottom__right-bottom-instagram {
	margin: 0px 30px 0px 0px;
}

/* --------------- FOOTER / FINISH --------------- */